<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LGSwiftEngine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lua.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>swift-engine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A315054A199958C6000B8842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3150554199958C7000B8842</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A5260919DC420F0094344D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3A5261319DC420F0094344D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B2AEA2193EBFE10097B3A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3B2AEB8193EBFE20097B3A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
